.spinnerContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.gridHeader {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.slotsGrid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.information {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  margin-top: 1rem;
  color: var(--text-secondary);
}

.informationIconWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1lh;
  height: 1lh;
}

.informationText {
  font-size: 0.875rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
